name = Samuel Jackson
email = samueljackson@outlook.com
[alias]
        lo = log --oneline
        co = checkout
        st = status
        c = commit
        d = diff
[user]
	name = Samuel Jackson
	email = samuel.jackson@stfc.ac.uk
[push]
	default = simple
