[core]
	excludesfile = ~/.gitignore
[github]
	user = samueljackson92
[ghi]
	token = !security find-internet-password -a samueljackson92 -s github.com -l 'ghi token' -w
[user]
	name = Samuel Jackson
	email = samueljackson@outlook.com
[alias]
	co = checkout
	cl = clang-format
	ai = add --interactive
	st = status
	c = commit
        unstage = reset HEAD --
        undo = reset HEAD~    
        l = log
        lo = log --oneline
        dc = diff --cached
        d = diff
[push]
	default = simple
        
